@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    display: grid;
        place-items: center;
        height: 100vh;
        margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0
}

section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
    background: #487e8625;
    width: 100%;
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.subtitle {
    text-align: left;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: #1da9c0;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: #FFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
    min-width: 400px;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #FFF;
    font-size: 1em;
}

.contact-form {
    width: 30%;
}

.minha-foto{
        border-radius: 50%;
        /* Optional: Add a border to the rounded image */
    }
/*KEYFRAMES ANIMATION*/

@keyframes showRight {
    100% {
        width: 0;
    }
}

@media screen and (max-width: 1000px) {
    .minha-foto {
        display: none;
        /* Hide the image when the window width is 1920px or smaller */
    }
}
@media screen and (max-width: 600px) {
    .header {
        padding: 30px 20px;
    }
}